.HourLabels {
  float: left;
  margin-right: 0.5em;
  /* Align with Weekdays by offsetting the size of .weekdayLabel + border */
  margin-top: calc(0.9em + 1px);
}

.hourLabel {
  width: 1em;
  height: 4.125em;
  text-align: center;
}
