.Weekday {
  float: left;
  width: 18%;
  margin-left: 0.25%;
  margin-right: 0.25%;
}

@media only screen and (max-width: 450px) {

  .Weekday {
    width: 45%;
  }

}

.weekdayLabel {
  height: auto;
  margin-bottom: 1em;
  text-align: center;
  font-weight: bold;
  font-size: 95%;
}

.hour {
  height: 4.125em;
  border-top: 1px solid #E6E6E6;
}
